<div class="timeline" {{did-insert (fn this.createTimeline this.defaultSettings)}}>
    <div class="timeline__wrap">
        <div class="timeline__items">
            {{yield}}
        </div>
    </div>
</div>